<!DOCTYPE html>
<html>
<head>
  <title>Cs50Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#" class="brand"> ❀Crystalgram❀</a>
    <ul class="nav">
    <ul class="nav">
  <li><%= link_to "All Statuses", statuses_path %></li> 
  </div>
</div>
  </div>


<div class="container">
<%= yield %>
</div>
<em>Designed by Tian Zhuang</em>
<em>CS50-PROJECT<em>
</body>
</html>
